<!-- <div class="container">
  <h2>Observables in Angular</h2>
  <!-- Start ---- For of() and from() operator -->
    <!-- <div class="data-list" *ngFor="let x of data">
      {{ x }}
    </div>
    <button (click)="GetAsyncData()">Get Data</button> -->
  <!-- END ---- For of() and from() operator -->


  <!-- Start ---- For fromEvent() operator -->
    <!-- <div id="container"></div>
    <button #createbtn>Create New Item</button> -->
  <!-- END ---- For fromEvent() operator -->
<!-- </div> -->

<app-new-task></app-new-task>
<app-show-task></app-show-task>